<suite name="Тестирование программ">
    <test name="Факториал">
        <classes>
            <class name="TestsFactorial"/>
        </classes>
    </test>
    <test name="Площадь треугольника">
        <classes>
            <class name="TestsTriangle"/>
        </classes>
    </test>
    <test name="Арифметические действия с двумя числами">
        <classes>
            <class name="TestsArithmetic"/>
        </classes>
    </test>
    <test name="Сравнение двух чисел">
        <classes>
            <class name="TestsCompareNumbers"/>
        </classes>
    </test>
</suite>